PROJECT_NAME="Blog"
DATABASE_URL="postgresql+asyncpg://user:password@localhost:5432/db_name"
TEST_DATABASE_URL="postgresql+asyncpg://user:password@localhost:5432/db_test_name"

POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="db_name"
POSTGRES_TEST_DB="db_test_name"
